* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background: #0f172a;
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px;
}

.container {
    width: 400px;
    background: #1e293b;
    padding: 25px;
    border-radius: 1rem;
    box-shadow: -12px 12px 10px rgb(21, 15, 15);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    cursor: context-menu;
}

.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1.5px solid white;
    outline: none;
    background: #121334;
    color: white;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1.5px solid rgb(59 130 246);
    cursor: pointer;
    background: #3b82f6;
    color: white;
    font-weight: 550;
}

#task-list {
    list-style: none;
    margin-top: 20px;
}

.task-item {
    background: #334155;
    margin-bottom: 10px;
    padding: 10px 14px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item button {
    background: #ef4444;
    padding: 6px 10px;
    border: 1px solid red;
    font-weight: 450;
    border-radius: 0.5rem;
}
